<style>
#section {
    width:1050px;
    text-align:center;
    padding:50px; 
}
</style>
<html>
<head>
    <title>About SchoolSmart</title>
</head>
<body BGCOLOR=#99ccff>
	<h1><center>About SchoolSmart</center></h1>
<div id="section">
<p>SchoolSmart uses a combination of user preferences and public city data to decide which schools are teh best matches for our uses. We allow the user to tell us the relative importance of academics and travel time for their high school decision. We then use this to weight a unique academic score that we compute for every school and the distance that the student would have to travel to reach that school to return a list of schools in the order that we recommend them. For schools with academic-based admissions criteria, we use the student's academic background to factor the difficulty of admission into the ranking. In the future, we plan to incorporate additional components, such as improvement in the academic performance of the school body and school community scores in our rankings. </p>
</div>
</body>
</html>

