<!DOCTYPE html>
<html>
    <head>
        <title>SchoolSmart</title>
        <style>
            .center {
                text-align: center;
            }

            .nodisplay {
                display: none;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    </head>
    <body BGCOLOR=#99ccff>
        <h1 class="center">SchoolSmart</h1>

        <p class="center">Enter your information and preferences below to let SchoolMatch generate a list of schools that we recommend you explore. Click <a href="{% url 'about' %}">here</a> to learn more about how SchoolSmart generates its results.</p>

        <form action="/form/" method="post">
            <table>
                {% csrf_token %}
                {{ form }}
            </table>
            <label><input type="checkbox" id="some_name" /> Would you us to consider odds of admissions to Selective Enrollment schools in our calculations?
            <a href ="http://cpsoae.org/apps/pages/index.jsp?uREC_ID=72696&type=d&termREC_ID=&pREC_ID=529720" target='_blank'>Learn more here</a></label>

            <div id="extra_form" class="center nodisplay">
                <table>
                {{ extra_form }}
                </table>
            </div>
            <input type="submit" value="Submit" />
    	</form>

        <script>
            $("#some_name").click(function() {
                if ($("#some_name").is(':checked')) {
                    $('#extra_form').show();    
                } else {
                    $('#extra_form').hide();    
             }

            });
        </script>
    </body>
</html>